@CHARSET "UTF-8";
.logo{
	color: white;
	padding-top:130px;
	font-size: 150px;
}
.logo:HOVER{
	animation: my 2s;
	animation-iteration-count: infinite;
	-webkit-animation: my 2s;
	-webkit-animation-iteration-count: infinite;
}

@keyframes my{
0%   {text-shadow: 1px 1px 25px #159;}
50%  {text-shadow: 4px 4px 75px #235DF4;}
100% {text-shadow: 1px 1px 25px #159;}
}
@-webkit-keyframes my /* Safari 和 Chrome */
{
0%   {text-shadow: 1px 1px 25px #159;}
50%  {text-shadow: 4px 4px 75px #235DF4;}
100% {text-shadow: 1px 1px 25px #159;}
}

.mid{
	padding-left: 210px;
	padding-right: 210px;
	padding-bottom: 75px;
}
.mid-frm{
	padding-top:20px;
	overflow: auto;
	padding-left: 37px;
}
.mid-left{
	float: left;
	width: 76%;
	overflow: auto;
}
.mid-right{
	float: left;
	overflow: auto;
	padding: 8px;
}

.username{
	float: left; 
	overflow: auto;
	padding: 6px;
}
.username-title{
	float: left;
	color:white;
	border:1px solid gray;
	border-right:0px;
	border-radius: 5px 0px 0px 5px; 
	width:107px;
	height:28px;
	padding-top: 6px;
	box-shadow: 0px 0px 5px #235DF4;
	z-index: 10;
}
.username-text{
	float: left;
	width: 250px;
	height: 34px;
	border:0px;
	border-radius: 0px 5px 5px 0px;
	font-size:20px;
	z-index: 1;
}
.username-text:FOCUS{
	box-shadow: 0px 0px 15px #235DF4;
}
.userpsw{
	float: left; 
	overflow: auto;
	padding: 7px;
}
.userpsw-title{
	float: left;
	color:white;
	border:1px solid gray;
	border-right:0px;
	border-radius: 5px 0px 0px 5px; 
	width:107px;
	height:28px;
	padding-top: 6px;
	box-shadow: 0px 0px 5px #235DF4;
	z-index: 10;
}
.userpsw-text{
	float: left;
	width: 250px;
	height: 34px;
	border:0px;
	border-radius: 0px 5px 5px 0px;
	font-size:20px;
	z-index: 1;
}

.userpsw-text:FOCUS{
	box-shadow: 0px 0px 15px #235DF4;;
}
.submit{
	float: left;
	height: 80px;
	width: 80px;
	color: white;
	font-size: 20px;
	border:0px;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0px 0px 15px #235DF4; 
	background-color:  #43ADF4;
}
.submit:HOVER{
	background-color: #235DF4;
}
