@CHARSET "UTF-8";
#title{
	text-align: center;
	font-size: 30px;
}
.list table{
	width:100%;
	padding: 2px;
	color: white;
	border: 0;
	text-align: center;
}
.deep{
	background-color: #555;
}
.deep:HOVER{
	background-color: #777;
}
.light{
	background-color: #222;
}
.light:HOVER {
	background-color: #777;
}
.back{
	position: fixed;
	top:10px;
	left:66%;
}